Config { font = "xft:JetBrains Mono:pixelsize=16:antialias=true:hinting=true"
       , additionalFonts = []
       --, borderColor = "black"
       --, border = TopB
       , bgColor = "#222020"
       , fgColor = "#bdb7b5"
       , alpha = 230
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run DynNetwork ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Wireless "" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %b %_d %Y %H:%M" "date" 50
                    , Run DiskU [("/", "<free> free")] ["-L", "20", "-H", "50", "-m", "1", "-p", "3"] 20
                    , Run Kbd []
                    , Run XMonadLog
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<action=`alacritty -e htop`>%cpu%</action> | %memory% * %swap% | <action=`nautilus`>%disku%</action> | %dynnetwork% - %wi% | %XMonadLog% }\
                    \{ <fc=#ee9a00>%date%</fc> | %kbd% | %uname%"
       }
